<%= form_with model: @comment, url: "/users/#{user_id}/posts/#{post_id}/comments" do |form| %>
  <h3>
    <span>
    <%= form.label :text, 'Comment:' %>
    </span>
  </h3>
  <div >
    <%= form.text_field :text, placeholder: 'Add your comment...' %>
  </div>
  <h3><%= form.submit 'Add Comment', class: 'submit-button' %></h3>
<% end %>