/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  padding: 1% 5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* User Index */
.user-top {
  display: flex;
  gap: 7%;
  margin-bottom: 20px;
}

.user-top img {
  width: 20%;
  height: 100px;
  border: 2px solid black;
}

.user-top div {
  position: relative;
  border: 2px solid black;
  width: 60%;
  height: 90px;
  align-self: center;
  padding: 0 20px;
}

.user-top div p,
.post-info div p {
  position: absolute;
  bottom: 0;
  right: 20px;
}

/* User show */
.user-bio {
  border: 2px solid black;
  height: 150px;
  padding: 10px;
  width: 90%;
}

.post-info div {
  position: relative;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 90%;
}

/* post index */
.post-info .post-with-comments {
  margin-bottom: 0;
}

.post-info .comments {
  margin-bottom: 15px;
}

.post-info .button {
  border: none;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.post-info .button button {
  padding: 5px;
  box-shadow: 5px 5px;
  background-color: white;
}

/* post show */

.single-post {
  border: 2px solid black;
  padding: 0 10px;
  min-height: 50vh;
  margin-bottom: 2px;
}

.single-post div {
  display: flex;
  position: relative;
}

.single-post div p {
  position: absolute;
  right: 10px;
  top: 0;
}

.single-post-comments {
  border: 2px solid black;
  padding: 0 10px;
  min-height: 20vh;
}
